# Dependency directories
node_modules/
dist/

# TypeScript cache
*.tsbuildinfo

# Vite+ generated Git hook dispatcher (recreated by `vp config`)
.vite-hooks/_/

# Optional npm cache directory
.npm

# for jetbrains tmp file
.idea

# os
.DS_Store
